.account_actions {

  &__user_full_name {
    margin: 0;
  }

  &__empty_avatar {
    color: deepskyblue !important;
    background-color: white !important;
  }

  &__action_btn {
    color: white;
    box-shadow: none;
    background-color: deepskyblue;
    transition: all 300ms;

    &:active {
      box-shadow: none;
    }

    &:hover {
      background-color: deepskyblue;
      transform: scale(1.2);
    }
  }

}
